In [4]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
sns.set_style('darkgrid')

In [7]:
 df= pd.read_csv('real_estate_data.csv')

In [6]:
print(data.columns)

Index(['tx_price', 'beds', 'baths', 'sqft', 'year_built', 'lot_size',
       'property_type', 'exterior_walls', 'roof', 'basement', 'restaurants',
       'groceries', 'nightlife', 'cafes', 'shopping', 'arts_entertainment',
       'beauty_spas', 'active_life', 'median_age', 'married', 'college_grad',
       'property_tax', 'insurance', 'median_school', 'num_schools', 'tx_year'],
      dtype='object')

In [8]:
data.head()

,tx_price,beds,baths,sqft,year_built,lot_size,property_type,exterior_walls,roof,basement,...,beauty_spas,active_life,median_age,married,college_grad,property_tax,insurance,median_school,num_schools,tx_year
0,295850,1,1,584,2013,0,Apartment / Condo / Townhouse,Wood Siding,NaN,NaN,...,47,58,33.0,65.0,84.0,234.0,81.0,9.0,3.0,2013
1,216500,1,1,612,1965,0,Apartment / Condo / Townhouse,Brick,Composition Shingle,1.0,...,26,14,39.0,73.0,69.0,169.0,51.0,3.0,3.0,2006
2,279900,1,1,615,1963,0,Apartment / Condo / Townhouse,Wood Siding,NaN,NaN,...,74,62,28.0,15.0,86.0,216.0,74.0,8.0,3.0,2012
3,379900,1,1,618,2000,33541,Apartment / Condo / Townhouse,Wood Siding,NaN,NaN,...,72,83,36.0,25.0,91.0,265.0,92.0,9.0,3.0,2005
4,340000,1,1,634,1992,0,Apartment / Condo / Townhouse,Brick,NaN,NaN,...,50,73,37.0,20.0,75.0,88.0,30.0,9.0,3.0,2002

In [6]:
data.shape

(1883, 26)

In [10]:
data.to_excel(datta ,sheet_name='data',index = False)

In [8]:
datta = 'datta.xlsx'

In [11]:
data.describe()

,tx_price,beds,baths,sqft,year_built,lot_size,basement,restaurants,groceries,nightlife,...,beauty_spas,active_life,median_age,married,college_grad,property_tax,insurance,median_school,num_schools,tx_year
count,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000,1.883000e+03,1657.0,1883.000000,1883.000000,1883.000000,...,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000
mean,422839.807754,3.420605,2.579926,2329.398832,1982.963887,1.339262e+04,1.0,40.210303,4.505045,5.074881,...,23.416888,15.835369,38.601168,69.091875,65.085502,466.777483,140.454063,6.502921,2.793415,2007.111524
std,151462.593276,1.068554,0.945576,1336.991858,20.295945,4.494930e+04,0.0,46.867012,4.491029,8.464668,...,25.776916,17.667717,6.634110,19.659767,16.953165,231.656645,72.929765,1.996109,0.505358,5.196898
min,200000.000000,1.000000,1.000000,500.000000,1880.000000,0.000000e+00,1.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,22.000000,11.000000,5.000000,88.000000,30.000000,1.000000,1.000000,1993.000000
25%,300000.000000,3.000000,2.000000,1345.000000,1970.000000,1.542000e+03,1.0,7.000000,1.000000,0.000000,...,4.000000,4.000000,33.000000,58.000000,54.000000,320.000000,94.000000,5.000000,3.000000,2004.000000
50%,392000.000000,3.000000,3.000000,1907.000000,1986.000000,6.098000e+03,1.0,23.000000,3.000000,2.000000,...,15.000000,10.000000,38.000000,73.000000,66.000000,426.000000,125.000000,7.000000,3.000000,2007.000000
75%,525000.000000,4.000000,3.000000,3005.000000,2000.000000,1.176100e+04,1.0,58.000000,7.000000,6.000000,...,35.000000,21.000000,43.000000,84.000000,78.000000,569.000000,169.000000,8.000000,3.000000,2011.000000
max,800000.000000,5.000000,6.000000,8450.000000,2015.000000,1.220551e+06,1.0,266.000000,24.000000,54.000000,...,177.000000,94.000000,69.000000,100.000000,100.000000,4508.000000,1374.000000,10.000000,4.000000,2016.000000

In [ ]:
data['basement'].unique()

In [10]:
pd.set_option('display.max_columns',100)

In [9]:
df.head()

,tx_price,beds,baths,sqft,year_built,lot_size,property_type,exterior_walls,roof,basement,...,beauty_spas,active_life,median_age,married,college_grad,property_tax,insurance,median_school,num_schools,tx_year
0,295850,1,1,584,2013,0,Apartment / Condo / Townhouse,Wood Siding,NaN,NaN,...,47,58,33.0,65.0,84.0,234.0,81.0,9.0,3.0,2013
1,216500,1,1,612,1965,0,Apartment / Condo / Townhouse,Brick,Composition Shingle,1.0,...,26,14,39.0,73.0,69.0,169.0,51.0,3.0,3.0,2006
2,279900,1,1,615,1963,0,Apartment / Condo / Townhouse,Wood Siding,NaN,NaN,...,74,62,28.0,15.0,86.0,216.0,74.0,8.0,3.0,2012
3,379900,1,1,618,2000,33541,Apartment / Condo / Townhouse,Wood Siding,NaN,NaN,...,72,83,36.0,25.0,91.0,265.0,92.0,9.0,3.0,2005
4,340000,1,1,634,1992,0,Apartment / Condo / Townhouse,Brick,NaN,NaN,...,50,73,37.0,20.0,75.0,88.0,30.0,9.0,3.0,2002

In [11]:
df.dtypes

tx_price                int64
beds                    int64
baths                   int64
sqft                    int64
year_built              int64
lot_size                int64
property_type          object
exterior_walls         object
roof                   object
basement              float64
restaurants             int64
groceries               int64
nightlife               int64
cafes                   int64
shopping                int64
arts_entertainment      int64
beauty_spas             int64
active_life             int64
median_age            float64
married               float64
college_grad          float64
property_tax          float64
insurance             float64
median_school         float64
num_schools           float64
tx_year                 int64
dtype: object

In [12]:
df['roof'].unique()

array([nan, 'Composition Shingle', 'Other', 'Gravel/Rock',
       'Roll Composition', 'Asphalt', 'Slate', 'asphalt', 'Shake Shingle',
       'Built-up', 'Asbestos', 'Metal', 'shake-shingle',
       'Wood Shake/ Shingles', 'Composition', 'composition',
       'asphalt,shake-shingle'], dtype=object)

In [13]:
df['property_type'].unique()

array(['Apartment / Condo / Townhouse', 'Single-Family'], dtype=object)

In [14]:
df['exterior_walls'].unique()

array(['Wood Siding', 'Brick', 'Concrete Block', 'Wood',
       'Siding (Alum/Vinyl)', 'Stucco', 'Concrete', 'Block', nan, 'Metal',
       'Wood Shingle', 'Masonry', 'Brick veneer', 'Other', 'Combination',
       'Asbestos shingle', 'Rock, Stone'], dtype=object)

In [15]:
df.loc[df['basement']!= 1.0 , ['basement']] = [0]

In [16]:
np.nan

nan

In [17]:
df.lot_size.unique().max()

1220551

In [18]:
df.describe()

,tx_price,beds,baths,sqft,year_built,lot_size,basement,restaurants,groceries,nightlife,cafes,shopping,arts_entertainment,beauty_spas,active_life,median_age,married,college_grad,property_tax,insurance,median_school,num_schools,tx_year
count,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000,1.883000e+03,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000
mean,422839.807754,3.420605,2.579926,2329.398832,1982.963887,1.339262e+04,0.879979,40.210303,4.505045,5.074881,5.325013,40.802443,3.394052,23.416888,15.835369,38.601168,69.091875,65.085502,466.777483,140.454063,6.502921,2.793415,2007.111524
std,151462.593276,1.068554,0.945576,1336.991858,20.295945,4.494930e+04,0.325073,46.867012,4.491029,8.464668,7.539309,53.539296,4.699787,25.776916,17.667717,6.634110,19.659767,16.953165,231.656645,72.929765,1.996109,0.505358,5.196898
min,200000.000000,1.000000,1.000000,500.000000,1880.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,22.000000,11.000000,5.000000,88.000000,30.000000,1.000000,1.000000,1993.000000
25%,300000.000000,3.000000,2.000000,1345.000000,1970.000000,1.542000e+03,1.000000,7.000000,1.000000,0.000000,0.000000,6.000000,0.000000,4.000000,4.000000,33.000000,58.000000,54.000000,320.000000,94.000000,5.000000,3.000000,2004.000000
50%,392000.000000,3.000000,3.000000,1907.000000,1986.000000,6.098000e+03,1.000000,23.000000,3.000000,2.000000,3.000000,22.000000,2.000000,15.000000,10.000000,38.000000,73.000000,66.000000,426.000000,125.000000,7.000000,3.000000,2007.000000
75%,525000.000000,4.000000,3.000000,3005.000000,2000.000000,1.176100e+04,1.000000,58.000000,7.000000,6.000000,6.000000,51.000000,5.000000,35.000000,21.000000,43.000000,84.000000,78.000000,569.000000,169.000000,8.000000,3.000000,2011.000000
max,800000.000000,5.000000,6.000000,8450.000000,2015.000000,1.220551e+06,1.000000,266.000000,24.000000,54.000000,47.000000,340.000000,35.000000,177.000000,94.000000,69.000000,100.000000,100.000000,4508.000000,1374.000000,10.000000,4.000000,2016.000000

In [1]:
df.hist(figsize = (15,15))
plt.show()

NameError: name 'df' is not defined

In [ ]:
df.tx_price.hist()
plt.show()

In [ ]:
df.tx_year.min()

In [ ]:
df.lot_size.hist()
plt.show()

In [ ]:
df.property_type.unique()

In [ ]:
sns.boxplot(x=df.property_type, y=df.tx_price)

In [ ]:
df.groupby('property_type').describe()

In [ ]:
df.groupby('property_type').quantile(q = 0.5)

In [ ]:
sns.countplot(x =df.beds)
plt.show()
df.tx_price.hist()
plt.show()

In [ ]:
df_correlations=df.corr()

In [ ]:
df_correlations

In [ ]:
plt.figure(figsize=(10,8))
sns.heatmap(df_correlations,cmap = 'RdBu_r',annot = True,fmt = '.1f')
plt.show()

In [ ]:
sns.heatmap(df_correlations,cmap = 'Greens')
plt.show()

In [ ]:
sns.heatmap(df_correlations,cmap = 'Blues')
plt.show()

In [ ]:
sns.heatmap(df_correlations,cmap = 'BuPu')
plt.show()

In [ ]:
sns.heatmap(data.corr(),cmap = 'YlGnBu')

In [ ]:
a = sns.heatmap(df_correlations,cmap = 'PuRd',annot = True)
#fig = plt.subplots(figsize=(30,30))

In [ ]:
mask = np.zeros_like(df_correlations, dtype=np.bool)
mask[np.triu_indices_from(mask)] = True
plt.figure(figsize = (16,16))
#ig, ax = plt.subplots(figsize=(15,15))
sns.heatmap(df_correlations,cmap='RdBu_r',annot=True,mask = mask,cbar = False)

In [ ]:
df

In [ ]:
#removing unwanted data observations
#duplicate observations
#irreleveant observations

In [ ]:
df = df.drop_duplicates()
df.shape

In [ ]:
sns.countplot(y = df.exterior_walls)

In [ ]:
data['basement']=data.fillna(0)

In [ ]:

None

In [ ]:
df.loc[df['roof']== 'asphalt' , ['roof']] = ['Asphalt']
#critical code, updating the data frame

In [ ]:
df.exterior_walls.replace('Rock, Stone', 'Masonry', inplace=True)

In [ ]:
df.exterior_walls.replace(['Concrete', 'Block'],'Concrete Block', inplace = True)

In [ ]:
sns.violinplot(df.tx_price)

In [ ]:
sns.boxplot(df.tx_price)

In [ ]:
sns.violinplot(df.beds)
plt.show()
sns.boxplot(df.beds)
plt.show()

In [ ]:
sns.violinplot(df.lot_size)
plt.show()
sns.boxplot(df.lot_size)
plt.show()

In [ ]:
sns.violinplot(df.sqft)
plt.show()
sns.boxplot(df.sqft)
plt.show()

In [ ]:
df.lot_size.sort_values(ascending = False).head()

In [ ]:
df = df[df.lot_size <= 50000]

In [ ]:
print(df.shape)

In [ ]:
print(df.dtypes)

In [ ]:
df.exterior_walls.replace(np.nan,'Missing',inplace = True)

In [ ]:
sns.countplot(y=df.exterior_walls)

In [16]:
df.select_dtypes(include = ['object']).isnull().sum()

property_type     0
exterior_walls    0
roof              0
dtype: int64

In [ ]:
df.roof.replace(np.nan,'Missing',inplace=True)

In [ ]:
df['two_and_two'] = ((df.beds==2) & (df.baths==2)).astype(int)

In [ ]:
df.two_and_two.mean()

In [ ]:
df['during_recesion'] =((df.tx_year>=2010)&(df.tx_year<=2013)).astype(int)

In [ ]:
df.during_recesion.mean()

In [ ]:
df = df[df.property_age>=0]

In [ ]:
df = pd.read_csv('cleaned_data.csv')

In [14]:
df.shape

(1813, 27)

In [ ]:
df['school_quality']=df.median_school*df.num_schools

In [ ]:
df.to_csv('engineered_data.csv',index = False)

In [7]:
df = pd.read_csv('engineered_data.csv')

In [8]:
print(df.shape)

(1813, 27)

In [4]:
from sklearn.linear_model import ElasticNet,Ridge,Lasso

In [5]:
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor

In [6]:
from sklearn.model_selection import train_test_split

In [11]:
y = df.tx_price
df1 = df.select_dtypes(exclude= ['object'])
x = df1.drop('tx_price',axis=1)

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=1234)

In [13]:
print(len(x_train))
print(len(x_test))
print(len(y_train))
print(len(y_test))

1450
363
1450
363

In [22]:
#df.select_dtypes(include = ['object']).isnull().sum()
#sns.countplot(y=df.exterior_walls)
#plt.show()
#sns.countplot(y=df.property_type)
#plt.show()
#sns.countplot(y=df.roof)
#plt.show()
x_test_new = (x_test - x_train.mean())/x_train.std()
y_test_new = (y_test - y_train.mean())/y_train.std()
y_train_new = (y_train - y_train.mean())/y_train.std()
#x_train_new

In [25]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [26]:
make_pipeline(StandardScaler(),Lasso(random_state=123))

Pipeline(memory=None,
     steps=[('standardscaler', StandardScaler(copy=True, with_mean=True, with_std=True)), ('lasso', Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=123,
   selection='cyclic', tol=0.0001, warm_start=False))])

pipelines = {'Lasso':make_pipeline(StandardScaler(),Lasso(random_state=123)), 'Elasticnet' : make_pipeline(StandardScaler(),ElasticNet(random_state=123)), 'Ridge': make_pipeline(StandardScaler(),Ridge(random_state=123))}

In [1]:
pipelines = {'lasso':make_pipeline(StandardScaler(),Lasso(random_state=123)), 'enet' : make_pipeline(StandardScaler(),ElasticNet(random_state=123)), 'ridge': make_pipeline(StandardScaler(),Ridge(random_state=123))}

NameError: name 'make_pipeline' is not defined

In [30]:
pipelines['Ridge']

Pipeline(memory=None,
     steps=[('standardscaler', StandardScaler(copy=True, with_mean=True, with_std=True)), ('ridge', Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=123, solver='auto', tol=0.001))])

In [31]:
pipelines['rf'] = make_pipeline(StandardScaler(),RandomForestRegressor(random_state=123))

In [33]:
pipelines['gb'] = make_pipeline(StandardScaler(),GradientBoostingRegressor(random_state=123))

In [41]:
for key,value in pipelines.items():
    print(key,type(value))

Lasso <class 'sklearn.pipeline.Pipeline'>
Elasticnet <class 'sklearn.pipeline.Pipeline'>
Ridge <class 'sklearn.pipeline.Pipeline'>
rf <class 'sklearn.pipeline.Pipeline'>
gb <class 'sklearn.pipeline.Pipeline'>

In [43]:
pipelines['Lasso'].get_params()

{'memory': None,
 'steps': [('standardscaler',
   StandardScaler(copy=True, with_mean=True, with_std=True)),
  ('lasso', Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=123,
      selection='cyclic', tol=0.0001, warm_start=False))],
 'standardscaler': StandardScaler(copy=True, with_mean=True, with_std=True),
 'lasso': Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
    normalize=False, positive=False, precompute=False, random_state=123,
    selection='cyclic', tol=0.0001, warm_start=False),
 'standardscaler__copy': True,
 'standardscaler__with_mean': True,
 'standardscaler__with_std': True,
 'lasso__alpha': 1.0,
 'lasso__copy_X': True,
 'lasso__fit_intercept': True,
 'lasso__max_iter': 1000,
 'lasso__normalize': False,
 'lasso__positive': False,
 'lasso__precompute': False,
 'lasso__random_state': 123,
 'lasso__selection': 'cyclic',
 'lasso__tol': 0.0001,
 'lasso__warm_start': False}